{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des Transats</h2>
    <table>
        {% for row in transats %}
            <tr>
                {% for transat in row %}
                    <td>{{ transat }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}