{% extends 'base.html.twig' %}

{% block body %}
    <h2>Tableau de bord des réservations</h2>
    <table>
        <thead>
            <tr>
                <th>Client</th>
                <th>Transat</th>
                <th>Heure</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.client }}</td>
                    <td>{{ reservation.transat }}</td>
                    <td>{{ reservation.heure }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}