{# <h1>Liste des Transats</h1>
<table>
    <thead>
        <tr>
            <th>Ligne</th>
            <th>Colonne</th>
            <th>Disponible</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for transat in transats %}
            <tr>
                <td>{{ transat.ligne }}</td>
                <td>{{ transat.colonne }}</td>
                <td>{{ transat.disponible ? 'Oui' : 'Non' }}</td>
                <td>
                    {% if transat.disponible %}
                        <a href="{{ path('transat_reserver', {'id': transat.id}) }}">Réserver</a>
                    {% else %}
                        Indisponible
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table> #}