<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Réservation de Transats{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Réservation de Transats</h1>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Transat Réservations</p>
    </footer>
</body>
</html>